<ion-view title="" class="fontFrom login-view">
 <ion-nav-bar class="barCustomColorTerminos auxHeigth">
    <ion-nav-back-button class="button-clear">
      <i class="ion-arrow-left-c"></i> Atrás
    </ion-nav-back-button>
    </ion-nav-bar>
	<ion-content>

		<div class="paddingContent">
			<center>
					Llene los siguientes campos para generar el programa de riego de su cultivo.
			</center>
			<!-- <p class="textColorLogin textLoginMin">Nombre del cultivo:</p>
			<label class="item item-input borderForm">
				<input type="text" placeholder="Nombre del cultivo">
			</label> -->

			<br>
			<a class="item item-icon-left item-icon-right" ng-click="openModal()">
				<i ></i>
				{{interfaz.seleccionado}}
		    <i class="icon ion-arrow-right-c"></i>
		  </a>
			<br>
			<a class="item item-icon-left item-icon-right" ng-click="openModalCultivos()">
				<i ></i>
				{{interfaz.seleccionadoCultivo}}
				<i class="icon ion-arrow-right-c"></i>
			</a>
			<ionic-datepicker input-obj="datepickerObject">
			  <button class="button button-block button-positive">{{fecha}}</button>
			</ionic-datepicker>

			<!--<center>
				<button ng-click="showAlert()" class="button button-clear button-positive">
				   Como identificar el tipo de suelo?
				</button>
			</center> -->

			<button class="button button-block button-balanced" ng-click="crearPlanRiego()">
			  Publicar
			</button>

		</div>
	</ion-content>
</ion-view>
