<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>

    <ion-nav-bar class="barCustomColor auxHeigth">
      <div class="iconConecta"></div>
      <!--img src="img/icon_clima.png"  style="z-index: 999999 !important;position: absolute;width: 30%;margin: 9px;"-->

      <ion-nav-back-button class="auxHeigth" >
      </ion-nav-back-button>
      <ion-nav-buttons side="right">
        <button class="button button-clear-white button-clear icon-right ion-ios-arrow-right" menu-toggle="right">Perfil&nbsp;
        </button>
      </ion-nav-buttons>

    </ion-nav-bar>

    <ion-nav-view name="menuContent"></ion-nav-view>

  </ion-side-menu-content>


  <ion-side-menu side="right">

    <ion-content class="fontFrom">
        <profile-View>
        <cell-profile>
    </ion-content>

  </ion-side-menu>
</ion-side-menus>
