
<ion-view  title="" class="fontFrom has-header ">
    <ion-header-bar class="bar-subheader item-input-inset padding-buscar">
  <label class="item-input-wrapper">
    <i class="icon ion-ios7-search placeholder-icon"></i>
    <input type="search" placeholder="Buscar Pronostico de Ciudad" ng-click="openModal()" ng-model="search">
  </label>
  <button class="button button-clear" ng-click="openModal()">
    Buscar
  </button>
    </ion-header-bar>
	<ion-content class="has-header">

	  <div class="list" ng-if="data.search !== '' && data.airlines.length >= 1" >
        <li class="item" ng-repeat="airline in data.airlines">{{airline.nombre}}</li>
      </div>
		<div>
			<div class="content-clima-info {{interfaz.tiempo}}">
      <!-- <div class="content-clima-info soleado"> -->
				<p class="clima-text">
					Pronóstico del tiempo de {{interfaz.pronostico.fecha}}
				</p>
				<p class="clima-sub-text">
					 {{interfaz.ciudadActual.nombre}}
				</p>
				<div class="row">
					<div class="col col-50">
						<center class="text-temperatura">{{interfaz.pronostico.temperaturaMaxima}}°</center>
					</div>
					<div class="col col-50">
						<center class="text-temperatura">{{interfaz.pronostico.temperaturaMinina}}°</center>
					</div>
				</div>
				<div class="row text-white">
					<div class="col col-50">
						<center>Temperatura M&aacute;xima</center>
					</div>
					<div class="col col-50">
						<center>Temperatura M&iacute;nima</center>
					</div><br>
				</div>
				<p class="clima-sub-text">
					Estado {{horario}} {{interfaz.pronostico.actualPronostico}}
				</p>
			</div>
			<div class="button-bar">
				<a class="button button-calm button-full" ng-click="estadoClima(1)">Ma&ntilde;ana</a>
				<a class="button button-calm button-full" ng-click="estadoClima(2)">Tarde</a>
				<a class="button button-calm button-full" ng-click="estadoClima(3)">Noche</a>
			</div>
		</div>
		<a href="#/app/reporteClima" class="button button-block icon-right ion-chevron-right button-outline button-positive">
			Conozca el reporte del clima
		</a>
		<button class="button button-block button-balanced" ng-click="abrirMenu()">
		  Recomendaciones Agroclim&aacute;ticas
		</button>
		<!-- <button class="button button-block button-balanced" ng-click="mostrarBoletin()">
		  Boletín Agroclímatico
		</button> -->
		<div class="card" ng-if="!interfaz.mostrarInformacionPerfil">
			<div class="item item-avatar">
		    <img src="https://cdn0.iconfinder.com/data/icons/very-basic-android-l-lollipop-icon-pack/24/attention-128.png">
		    <center><h2>Para ver mas opciones Inicie Sesi&oacute;n</h2></center>
		  </div>
		</div>
		<div ng-if="interfaz.mostrarInformacionPerfil">
			<a href="#/app/crearPlanRiego"  class="button button-block icon-right ion-plus-round button-balanced">
				Crear plan de riego
			</a>
			<p class="text-two-dark-center">
				Usted tiene {{interfaz.planesRiego.length}} plan(es) de riego
			</p>
			<p class="text-two-dark-center">
        Para verlos desplacese hacia abajo
			</p>
			<div class="list card">
				<ion-list>
          <ion-item ng-repeat="planRiego in interfaz.planesRiego" class="item item-text-wrap">
             <div class="item item-divider">
               <div class="row">
								 <div class="col col-75"><h2 class="plan-riego-titulo-uno">{{planRiego.NombreCultivo}} </h2><br></div>
                 <div class="col">
                   <center><a  class="button button-icon icon ion-help-circled positive" ng-click="mostrarTooltip()"></a></center>
                 </div>
							 </div>
               <div class="row">
                  <div class="col">{{planRiego.Municipio}}&nbsp;<i class="icon ion-location positive"></i></div>
                  <!-- <div class="col">
                      <center><a  class="button button-icon icon icon-right ion-chevron-right positive" ng-click="mostrarTooltip()">&nbsp;&nbsp;&nbsp;Más Info&nbsp;&nbsp;&nbsp;</a></center>
                  </div> -->
                </div>
             </div>
             <ion-slide-box on-slide-changed="slideChanged(index)">

              <!-- INICIO Contexto de Barras de consulta de las graficas-->

               <ion-slide class="margen">
                 <div class="item item-text-wrap">
                   <div class="row">
                     <div class="col col-50">
                       <center><small><b>Etapa de Crecimiento</b></small></center>
                     </div>
                     <div class="col col-50">
                       <center><small><b>Requerimiento Hídrico Neto</b></small></center>
                     </div>
                   </div>
                   <div class="row">
                     <div class="col col-50">
                       <center><h2 class="plan-riego-titulo-uno">{{planRiego.grafica1.etapaCrecimiento}}</h2></center>
                     </div>
                     <div class="col col-50">
                       <center><h2 class="plan-riego-titulo-uno">{{planRiego.grafica1.laminaCrecimiento}}</h2></center>
                     </div>
                   </div>
                   <div class="row">
                     <div class="col col-50">
                       <center><small>Duraci&oacute;n {{planRiego.grafica1.tiempoCrecimiento}}</small></center>
                     </div>
                     <div class="col col-50">
                       <center><small>por etapa</small></center>
                     </div>
                   </div>
                   <div class="item item-text-wrap">
                     <div class="Rotate-90"><h4>mm</h4></div>
                     <canvas id="bar" class="chart chart-bar" chart-data="planRiego.grafica1.dataGrafica" chart-labels="planRiego.grafica1.series" chart-legend="true" chart-series="planRiego.grafica1.series" chart-colours="planRiego.grafica1.color" chart-options="{showTooltips: true}"></canvas>
                   </div>
                  </div>
                  <br><br>
                  Etapa 1 de 4
               </ion-slide>

               <ion-slide class="margen">
                 <div class="item item-text-wrap">
                   <div class="row">
                     <div class="col col-50">
                       <center><small><b>Etapa de Crecimiento</b></small></center>
                     </div>
                     <div class="col col-50">
                       <center><small><b>Requerimiento Hídrico Neto</b></small></center>
                     </div>
                   </div>
                   <div class="row">
                     <div class="col col-50">
                       <center><h2 class="plan-riego-titulo-uno">{{planRiego.grafica2.etapaCrecimiento}}</h2></center>
                     </div>
                     <div class="col col-50">
                       <center><h2 class="plan-riego-titulo-uno">{{planRiego.grafica2.laminaCrecimiento}}</h2></center>
                     </div>
                   </div>
                   <div class="row">
                     <div class="col col-50">
                       <center><small>Duraci&oacute;n {{planRiego.grafica2.tiempoCrecimiento}}</small></center>
                     </div>
                     <div class="col col-50">
                       <center><small>por etapa</small></center>
                     </div>
                   </div>
                   <div class="item item-text-wrap">
                     <div class="Rotate-90">mm</div>
                     <canvas id="bar" class="chart chart-bar" chart-data="planRiego.grafica2.dataGrafica" chart-labels="planRiego.grafica2.series" chart-legend="true" chart-series="planRiego.grafica2.series" chart-colours="planRiego.grafica2.color" chart-options="{showTooltips: true}"></canvas>
                   </div>
                  </div>
                  <br><br>
                      Etapa 2 de 4
               </ion-slide>

               <ion-slide class="margen">
                 <div class="item item-text-wrap">
                   <div class="row">
                     <div class="col col-50">
                       <center><small><b>Etapa de Crecimiento</b></small></center>
                     </div>
                     <div class="col col-50">
                       <center><small><b>Requerimiento Hídrico Neto</b></small></center>
                     </div>
                   </div>
                   <div class="row">
                     <div class="col col-50">
                       <center><h2 class="plan-riego-titulo-uno">{{planRiego.grafica3.etapaCrecimiento}}</h2></center>
                     </div>
                     <div class="col col-50">
                       <center><h2 class="plan-riego-titulo-uno">{{planRiego.grafica3.laminaCrecimiento}}</h2></center>
                     </div>
                   </div>
                   <div class="row">
                     <div class="col col-50">
                       <center><small>Duraci&oacute;n {{planRiego.grafica3.tiempoCrecimiento}}</small></center>
                     </div>
                     <div class="col col-50">
                       <center><small>por etapa</small></center>
                     </div>
                   </div>
                   <div class="item item-text-wrap">
                     <div class="Rotate-90">mm</div>
                     <canvas id="bar" class="chart chart-bar" chart-data="planRiego.grafica3.dataGrafica" chart-labels="planRiego.grafica3.series" chart-legend="true" chart-series="planRiego.grafica3.series" chart-colours="planRiego.grafica3.color" chart-options="{showTooltips: true}"></canvas>
                   </div>
                  </div>
                  <br><br>
                  Etapa 3 de 4
               </ion-slide>

               <ion-slide class="margen">
                 <div class="item item-text-wrap">
                   <div class="row">
                     <div class="col col-50">
                       <center><small><b>Etapa de Crecimiento</b></small></center>
                     </div>
                     <div class="col col-50">
                       <center><small><b>Requerimiento Hídrico Neto</b></small></center>
                     </div>
                   </div>
                   <div class="row">
                     <div class="col col-50">
                       <center><h2 class="plan-riego-titulo-uno">{{planRiego.grafica4.etapaCrecimiento}}</h2></center>
                     </div>
                     <div class="col col-50">
                       <center><h2 class="plan-riego-titulo-uno">{{planRiego.grafica4.laminaCrecimiento}}</h2></center>
                     </div>
                   </div>
                   <div class="row">
                     <div class="col col-50">
                       <center><small>Duraci&oacute;n {{planRiego.grafica4.tiempoCrecimiento}}</small></center>
                     </div>
                     <div class="col col-50">
                       <center><small>por etapa</small></center>
                     </div>
                   </div>
                   <div class="item item-text-wrap">
                     <div class="Rotate-90">mm</div>
                     <canvas id="bar" class="chart chart-bar" chart-data="planRiego.grafica4.dataGrafica" chart-labels="planRiego.grafica4.series" chart-legend="true" chart-series="planRiego.grafica4.series" chart-colours="planRiego.grafica4.color" chart-options="{showTooltips: true}"></canvas>
                   </div>
                  </div>
                  <br><br>
                  Etapa 4 de 4
               </ion-slide>
              <!-- FIN Contexto de Barras de consulta de las graficas-->
             </ion-slide-box>
						</ion-item>
				</ion-list>
			</div>
		</div>
  </ion-content>
</ion-view>
