<ion-view title="" class="fontFrom login-view">

 <ion-nav-bar class="barCustomColorTerminos auxHeigth">
    <ion-nav-back-button class="button-clear">
      <i class="ion-arrow-left-c"></i> Atrás
    </ion-nav-back-button>
    </ion-nav-bar>

	<div class="tabs-striped tabs-color-balanced">
		<div class="tabs">
			<a class="tab-item {{classTemperaturaMax}}" ng-click="irTemperaturasM()">
				Temp Max
			</a>
			<a class="tab-item {{classTemperaturaMin}}" ng-click="irTemperaturas()">
				Temp Min
			</a>
			<a class="tab-item {{classPrecipita}}" ng-click="irPrecipita()">
				Precipitaciones
			</a>
			<a class="tab-item {{classEvapo}}" ng-click="irEvapo()">
				Evapotranspiración</br> de Ref
			</a>
		</div>
	</div>
	<ion-content>
		<div class="row" style="padding-top: 20px;">
      <div class="col">
        <a class="item item-icon-left item-icon-right" ng-click="openModal()">
          <i ></i>
          {{consulta.municipios}}
          <!-- <i class="icon ion-arrow-right-c"></i> -->
        </a>
      </div>
			<div class="col col-25">
				<center><a class="button button-icon icon ion-search" ng-click="buscar()"></a></center>
			</div>
    </div>
		<div class="card" ng-if="mostrarTemperaturasMax">

				<div class="reporte-clima item item-body">
					<center>
						<small class="titulo">
								Temperatura máxima
						</small>
						<p class="temperatura">
								{{promedios.temperaturaMaxima.actual}}°C
						</p>
						<p class="sub-titulo">
								Media {{anio}}
						</p>
						<div class="row">
							<div class="col col-50">
								<p class="temperatura-media">{{promedios.temperaturaMaxima.media}}°C</p>
							</div>
							<div class="col col-50">
								<p class="temperatura-maxima">{{promedios.temperaturaMaxima.max}}°C</p>
							</div>
						</div>
						<div class="row">
							<div class="col col-50 sub-titulo">
								<p>Media climática (1981-2010)</p>
							</div>
							<div class="col col-50 sub-titulo">
								<p>Media año anterior</p>
							</div>
						</div>
					</center>
				</div>
				<div class="item item-text-wrap">
					<h5>ºc</h5>
						<canvas id="bar1" class="chart chart-bar" chart-data="dataTemperaturaMax" chart-labels="labels" chart-legend="false" chart-series="series1" chart-colours="colores1" chart-options="{showTooltips: true}"></canvas>
				</div>
		</div>


		<div class="card" ng-if="mostrarTemperaturas">

				<div class="reporte-clima item item-body">
					<center>
						<small class="titulo">
								Temperatura mínima
						</small>
						<p class="temperatura">
						 		{{promedios.temperaturaMinima.actual}}ºc
						</p>
						<p class="sub-titulo">
						 		Media {{anio}}
						</p>
						<div class="row">
							<div class="col col-50">
								<p class="temperatura-media">{{promedios.temperaturaMinima.media}}ºc</p>
							</div>
							<div class="col col-50">
								<p class="temperatura-maxima">{{promedios.temperaturaMinima.max}}ºc</p>
							</div>
						</div>
						<div class="row">
							<div class="col col-50 sub-titulo">
								<p>Media climática (1981-2010)</p>
							</div>
							<div class="col col-50 sub-titulo">
								<p>Media año anterior</p>
							</div>
						</div>
					</center>
				</div>
				<div class="item item-text-wrap" >
					<h5>ºc</h5>
						<canvas id="bar2" class="chart chart-bar" chart-data="dataTemperatura" chart-labels="labels" chart-legend="false" chart-series="series2" chart-colours="colores2" chart-options="{showTooltips: true}"></canvas>
				</div>
		</div>
		<div class="card" ng-if="mostrarPrecipita">
			<div class="reporte-clima item item-body">
				<center>
					<small class="titulo">
							Precipitación
					</small>
					<p class="temperatura">
					{{promedios.precipitacion.actual}} mm
					</p>
					<p class="sub-titulo">
							Media {{anio}}
					</p>
					<div class="row">
						<div class="col col-50">
							<p class="temperatura-media">{{promedios.precipitacion.media}} mm</p>
						</div>
						<div class="col col-50">
							<p class="temperatura-maxima">{{promedios.precipitacion.max}} mm</p>
						</div>
					</div>
					<div class="row">
						<div class="col col-50 sub-titulo">
							<p>Media climática (1981-2010)</p>
						</div>
						<div class="col col-50 sub-titulo">
							<p>Media año anterior</p>
						</div>
					</div>
				</center>
			</div>
				<div class="item item-text-wrap" >
					<h5>mm</h5>
						<canvas id="bar3" class="chart chart-bar" chart-data="dataPrecipita" chart-labels="labels" chart-legend="false" chart-series="series3" chart-colours="colores3" chart-options="{showTooltips: true}"></canvas>
				</div>
		</div>
		<div class="card" ng-if="mostrarEvapo">
			<div class="reporte-clima item item-body">
				<center>
					<small class="titulo">
							Evapotranspiración de referencia
					</small>
					<p class="temperatura">
							{{promedios.Evapotranspiracion.actual}} mm/dia
					</p>
					<p class="sub-titulo">
							Media {{anio}}
					</p>
					<div class="row">
						<div class="col col-50">
							<p class="temperatura-media">{{promedios.Evapotranspiracion.max}} mm/dia</p>
						</div>
						<div class="col col-50">
							<p class="temperatura-maxima">{{promedios.Evapotranspiracion.media}} mm/dia</p>
						</div>
					</div>
					<div class="row">
						<div class="col col-50 sub-titulo">
							<p>Media climática (1981-2010)</p>
						</div>
						<div class="col col-50 sub-titulo">
							<p>Media año anterior</p>
						</div>
					</div>
				</center>
			</div>

				<div class="item item-text-wrap">
					<h5>mm/día</h5>
						<canvas id="bar4" class="chart chart-bar" chart-data="dataEvapo" chart-labels="labels" chart-legend="false" chart-series="series4" chart-colours="colores4" chart-options="{showTooltips: true}">
						</canvas>
				</div>
		</div>

	</ion-content>
</ion-view>
