<ion-view class="startFont">
	<ion-content>

		<div class="startImage"></div>

		<p class="startText">
			<!-- La herramienta de MinAgricultura que pone a su
			alcance toda la información de interés en materia de
			trámites, noticas, programas y convocatorias -->

			Encuentre información del pronóstico del tiempo para
			las principales ciudades del país y reportes del clima
			de estaciones del IDEAM, así como recomendaciones
			agroclimáticas para su cultivo y región creando su plan de riego.
		</p>

		<div class="startPaddingButton">
			<a href="#/app/home" class="button button-full button-balanced ">Ingresar</a>
		</div>

	

<center><a href="#/terminos"><b style="font-family: ubuntubold sans-serif"><u><font color="white">Términos y condiciones</font></u></b></a></center>
    <br>
    <center><a href="#/politicasPrivacidad"><b style="font-family: ubuntubold sans-serif"><u><font color="white">Politicas de privacidad</font></u></b></a></center>



		</ion-content>

	<div class="footerInit">
		<div class="letterInit">Aplicacion desarrollada por:</div>
		<div class="logoImage"></div>
	</div>
</ion-view>
