<ion-view class="startFont">

 <ion-nav-bar class="barCustomColorTerminos auxHeigth">
    <ion-nav-back-button class="button-clear">
      <i class="ion-arrow-left-c"></i> Atrás
    </ion-nav-back-button>
    </ion-nav-bar>

    
	<ion-content>

		<div class="startImage"></div>
 		<p class="startTextTerminos">Términos y Condiciones</p>


		<p class="startText">
			AgroClima es la herramienta del Ministerio de Agricultura y
			Desarrollo  Rural,  que  permite  consultar  recomendaciones
			agroclimáticas, el pronóstico del tiempo y reportes de clima
			por estación. Brinda información para crear el plan de riego
			aproximado. Cuenta con el apoyo del IDEAM y CIAT.
		</p>
		<center>
			<!-- <div class="row">
				<div class="col">
					<img src="img/Agronet.jpg" height="80" width="160">
				</div>
				<div class="col">
					<img src="img/Ideam.jpg" height="100" width="100">
				</div>

			</div>
			<div class="row">
				<div class="col">
					<img src="img/TodoPorUnNuevoPais.jpg" height="80" width="160">
				</div>
			</div>
			<div class="row">
				<div class="col">
					<img src="img/MinAgricultura.jpg" height="120" width="350">
				</div>
			</div> -->
			<!--div class="row">
				<div class="col">
					<img src="img/Agronet.jpg" height="80" width="160">
				</div>
				<div class="col">
					<img src="img/Ideam.jpg" height="80" width="80">
				</div>

			</div>
			<div class="row">
				<div class="col">
					<img src="img/TodoPorUnNuevoPais.jpg" height="60" width="140">
				</div>
			</div>
			<div class="row">
				<div class="col">
					<img src="img/MinAgricultura.jpg" height="50" width="200">
				</div>
			</div-->

		</center>
			<!--div class="startPaddingButton">
				<a href="#/app/start" class="button button-full button-balanced ">Atrás</a>
			</div-->


	</ion-content>



	<ion-footer-bar align-title="left" class="bar-stable">
        <div class="footerInitTerminosLeft">
          <img class="footerInitTerminosLeftImg" src="img/logo_min.png"/>
        </div>
        <div class="footerInitTerminosCenter">
          <img class="footerInitTerminosCenterImg" src="img/Agronet.jpg"/>
        </div>
        <div class="footerInitTerminosRight">
          <img class="footerInitTerminosRightImg" src="img/TodoPorUnNuevoPais.jpg"/>
        </div>
        <div class="footerInitTerminosRight2">
          <img class="footerInitTerminosRightImg2" src="img/Ideam.jpg"/>
        </div>
  </ion-footer-bar>

  



</ion-view>
