<ion-view   class="fontFrom login-view">
	 <ion-nav-bar class="barCustomColorTerminos auxHeigth">
	    <ion-nav-back-button class="button-clear">
	      <i class="ion-arrow-left-c"></i> Atrás
	    </ion-nav-back-button>
	    </ion-nav-bar>
	    
	<ion-content>

		<div class="content-logo-transparent">
					<div class="startImageLogin"></div>
		</div>


		<div class="paddingContent">

			<p class="textColorLogin textLoginMin">Antigua Clave</p>
			<div class="row" style="padding: 0px;">

				<label class="col  passwordCreate item item-input borderForm">
					<input ng-model="$parent.claveAntigua" type="{{inputType}}" ng-minlength="6" placeholder="Minimo 6 dígitos">
				</label>
				<button class="col col-33 button button-small button-clear button-color-green passwordView"
								style="background-color: white;"
								ng-click="hideShowPassword()">{{labelVerClave}}</button>
			</div>
			<p class="textColorLogin textLoginMin">Nueva Clave</p>
			<div class="row" style="padding: 0px;">

				<label class="col  passwordCreate item item-input borderForm">
					<input ng-model="$parent.claveNueva" type="{{inputType}}" ng-minlength="6" placeholder="Minimo 6 dígitos">
				</label>
				<button class="col col-33 button button-small button-clear button-color-green passwordView"
								style="background-color: white;"
								ng-click="hideShowPassword()">{{labelVerClave}}</button>
			</div>
			<br>

			<p class="textColorLogin textLoginMin">Confirmar Clave</p>
			<div class="row" style="padding: 0px;">

				<label class="col  passwordCreate item item-input borderForm">
					<input ng-model="$parent.claveConfirm" type="{{inputType}}" ng-minlength="6" placeholder="Minimo 6 dígitos">
				</label>
				<button class="col col-33 button button-small button-clear button-color-green passwordView"
								style="background-color: white;"
								ng-click="hideShowPassword()">{{labelVerClave}}</button>
			</div>
			<br>

			<a ng-disabled="!claveNueva || !claveConfirm || claveConfirm !=claveNueva" ng-click="cambiarClave()" class="button-balanced button button-block" >Cambiar Clave</a>
		</div>

	</ion-content>
</ion-view>
