<ion-view title="" class="fontFrom login-view">

 <ion-nav-bar class="barCustomColorTerminos auxHeigth">
    <ion-nav-back-button class="button-clear">
      <i class="ion-arrow-left-c"></i> Atrás
    </ion-nav-back-button>
    </ion-nav-bar>

	<ion-content>

		<div class="content-logo-transparent">
					<div class="startImageLogin"></div>
		</div>

		<div class="paddingContent">

			<p class="textColorLogin textLoginMin">Ingrese su correo electrónico:</p>
			<label class="item item-input borderForm">
				<input ng-model="$parent.correo" type="email" placeholder="Ingrese su correo electrónico">
			</label>
			<br>

			<p class="textColorLogin textLoginMin">Cree su clave:</p>
			<div class="row" style="padding: 0px;">

				<label class="col  passwordCreate item item-input borderForm">
					<input ng-model="$parent.clave" type="{{inputType}}" ng-minlength="6" placeholder="Minimo 6 dígitos">
				</label>
				<button class="col col-33 button button-small button-clear button-color-green passwordView"
								style="background-color: white;"
								ng-click="hideShowPassword()">{{labelVerClave}}</button>
			</div>
			<br>

			<!-- <a href="#/app/login/result" class="button-balanced button button-block" >{{textButton}}</a>
			<br> -->
			<a ng-show="existUser" ng-disabled="!correo || !clave" ng-click="registrarUsuario()" class="button-balanced button button-block" >Crear una cuenta</a>

			<a ng-show="!existUser" ng-click="iniciarSesion()" class="button-balanced button button-block" >Ingresar</a>
			<br>

			<div ng-show="existUser">
				<p class="textColorLogin textLogin">
				Si ya es usuario de Agronet o de alguna de sus aplicaciones ingrese con su cuenta de usuario.
				</p>

				<button class="button button-block button-clear button-color-white" ng-click="existUserAction()">
					<b class="textColorLogin">Ya tengo cuenta</b>
				</button>
			</div>

			<center
				class="textLogin textColorLogin"
				ng-show="!existUser">
					<button ng-click="olvidoClave()" class="button button-clear button-light">
					  He olvidado mi contraseña
					</button>
			</center>


		</div>

	</ion-content>
</ion-view>
