<ion-view title="" class="fontFrom login-view">
 <ion-nav-bar class="barCustomColorTerminos auxHeigth">
    <ion-nav-back-button class="button-clear">
      <i class="ion-arrow-left-c"></i> Atrás
    </ion-nav-back-button>
    </ion-nav-bar>
    
    <!--div class="bar bar-header">
		<button class="button button-icon icon ion-navicon">volver</button>
	</div--> 
	<ion-content>
			<div class="list paddingContent fontFrom ">

	<h4>Información</h4>
	<p class="titleForm">Nombre:</p>
	<label class="item item-input borderForm">
		<input type="text" placeholder="Ingrese su nombre completo" ng-model="usuario.Nombre">
	</label>
	<br>
	<p class="titleForm">Correo electronico:</p>
	<label class="item item-input borderForm">
		<input type="text" placeholder="Ingrese su correo electronico" ng-model="usuario.Correo"
		ng-disabled="usuario.Correo">
	</label>
	<br>
	<p class="titleForm">Documento de identidad:</p>
	<label class="item item-input borderForm">
		<input type="text" placeholder="Ingrese su documento" ng-model="usuario.DocIdentidad">
	</label>
	<br>
	<p class="titleForm">Lugar de residencia :</p>
	<label class="item item-input borderForm">
		<input type="text" placeholder="Ingrese su lugar de residencia" ng-model="usuario.Direcciony">
	</label>
	<br>

	<p class="titleForm">Genero:</p>
	<div class="select" >
	    <span class="arr"></span>
	    <select ng-model="usuario.Genero">
	      <option>Seleccione su género</option>
	      <option>Masculino</option>
	      <option>Femenino</option>
	    </select>
 	</div>
 	<br>
 	<br>

	<p class="titleForm">Número celular:</p>
	<label class="item item-input borderForm">
		<input type="text" placeholder="Ingrese su número celular" ng-model="usuario.NumeroCelular">
	</label>
	<br>

	<!-- <h4>Actividad agropecuaria </h4>
	<p class="titleForm">Lista de producción:</p>
	<label class="item item-input borderForm">
		<input type="text" placeholder="Produccion" ng-model="userModel.productionList">
	</label>
	<br>

	<p class="titleForm">Pertenece a una asociación:</p>
	<div class="select" >
	    <span class="arr"></span>
	    <select ng-model="userModel.asociation">
	      <option>SI / NO</option>
	      <option>Si</option>
	      <option>No</option>
	    </select>
 	</div>
 	<br>
 	<br>

	<p class="titleForm">Actividad agrícola</p>
	<div class="select" >
	    <span class="arr"></span>
	    <select ng-model="userModel.activity">
	      <option>Seleccione su actividad </option>
	      <option>Si</option>
	      <option>No</option>
	    </select>
 	</div>
 	<br>
 	<br>

	<p class="titleForm">Categoria del producto:</p>
	<div class="select" >
	    <span class="arr"></span>
	    <select ng-model="userModel.category">
	      <option>Seleccine una categoria</option>
	      <option>Si</option>
	      <option>No</option>
	    </select>
 	</div>
 	<br>
 	<br>

	<p class="titleForm">Producción principal:</p>
	<label class="item item-input borderForm">
		<input type="text" placeholder="Ingrese su nombre completo" ng-model="userModel.productionPricipal">
	</label>
	<br>

	<p class="titleForm">Superficie cultivada:</p>
	<label class="item item-input borderForm">
		<input type="text" placeholder="Ingrese su nombre completo" ng-model="userModel.superfice">
	</label>
	<br> -->

	<button class="button button-block button-balanced" ng-click="guardarInformacion()">
  		Guardar
  	</button >

</div>
</ion-content>
</ion-view>
