<ion-view title="Cuenta" class="fontFrom">

	<ion-content>

		<div class="contentLoginImage">
			<div class="startImageLogin"></div>	
		</div>
		
		<div class="paddingContent">

			<div class="textLogin textColorLogin"><b>Su cuenta ha sido creada exitosamente</b></div>
			<br>
		
			<a ng-click="goToHome()" class="button-balanced button button-block">Continuar</a>
						
		</div>

		<div class="lineResult"></div>

		<div class="paddingContent">
		
			<div class="textLogin textColorLogin">
				Ayúdenos a mejorar su expreriencia en el ecosistema Agronet completando la información de su perfil
			</div>	
			<br>
			<a href="#/app/user" class="button button-block button-clear button-color-green">
				<b style="color:green;">Completar perfil</b>
			</a>
		</div>		

	</ion-content>
</ion-view>