<div>

	<div class="item fontFrom">
		<div class="row">
			<label class="circleLabel {{data.background}}">{{data.letterMin}}</label>
			<label class="titleLabelCell">{{data.category}}</label>	
		</div>
		
		<div class="item-text-wrap textTitle">		
			<b>{{data.title | limitTo: 150}}</b> 	
		</div>
		
		<div class="lineScoll {{data.background}}"></div>
		
		<div  class="item-text-wrap textBody">			
			{{data.content | limitTo: 150}}
		</div>
		

		<div class="row">
			
			<a href="#/app/info/detail/{{data.idObjec}}" class="button col col-33 icon-right ion-chevron-right {{data.colorButton}}" ng-click="changeView()">Leer más</a>
			
			<div class="button col icon-left {{data.iconFavorite}} button-clean {{data.letterColor}}" 
				ng-click="actionFavorite(data)">{{data.textStateFavorite}}
			</div>

		</div>
	</div>
</div>