<ion-modal-view>
  <ion-header-bar>
    <ion-header-bar class="bar-subheader item-input-inset padding-buscar-modal">
    <button class="button button-clear" ng-click="closeModal_1()">
      Cerrar
    </button>

    </ion-header-bar>
   </ion-header-bar>
  <ion-content>
    <div class="list">
        <a class="item item-avatar" ng-repeat="ano in anosBusqueda " ng-click="anoSeleccionado(ano)">
          <h2>{{ano.valor}}</h2>
        </a>
    </div>
  </ion-content>
</ion-modal-view>
