<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Recomendaciones agroclim&aacute;ticas</h1>
        <button class="button button-clear" ng-click="closeModalRecomendaciones()">
          Cerrar
        </button>
    </ion-header-bar>
  <ion-content>
    <div class="row">
      <div class="col">
        <a class="item item-icon-left item-icon-right" ng-click="openModalMeses2()">
          <i ></i>
          {{interfaz.seleccionadoFecha_2}}
          <i class="icon ion-arrow-right-c"></i>
        </a>
      </div>
      <div class="col">
        <a class="item item-icon-left item-icon-right" ng-click="openModalAnos_2()">
          <i ></i>
          {{interfaz.fechaActual_2}}
          <i class="icon ion-arrow-right-c"></i>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a class="item item-icon-left item-icon-right" ng-click="openModalCultivos()">
          <i ></i>
          <center>{{interfaz.seleccionadoCultivo}}</center>
          <i class="icon ion-arrow-right-c"></i>
        </a>
      </div>
    </div>
      <!-- <div class="row">
        <div class="startPaddingButton">
          <a ng-click="buscarRecomendacion()" class="button button-full button-balanced ">Ingresar</a>
        </div>
      </div> -->
      <button class="button button-block button-balanced" ng-click="buscarRecomendacion()" >
        Buscar recomendaci&oacute;n
      </button>
      <!-- <a class="button button-block button-balanced" ng-click="descargar(boletin.linkBoletin)" >
        Descargar Boletín {{boletin.info}}
      </a> -->
      <div>
        <ion-list>
        <div ng-repeat="detalle in informacion">
          <ion-item class="item-stable" ng-click="toggleGroup(detalle)" ng-class="{active: isGroupShown(detalle)}">
            <div class="row">
              <div class="col"><h2 class="plan-riego-titulo-uno">{{detalle.region}} </h2></div>
            </div>
          </ion-item>
           <ion-item class="item-accordion item item-text-wrap" ng-show="isGroupShown(detalle)">
             {{detalle.descripcion}}
           </ion-item>
         </div>
       </ion-list>
      </div>
  </ion-content>
</ion-modal-view>
