<ion-modal-view>
  <ion-header-bar>
   </ion-header-bar>
  <ion-content>
    <div class="list">
        <a class="item item-avatar" ng-click="mesSeleccionado(1)">
          <img src="img/logo_colombia.png">
          <h2>ENERO</h2>
        </a>
        <a class="item item-avatar" ng-click="mesSeleccionado(2)">
          <img src="img/logo_colombia.png">
          <h2>FEBRERO</h2>
        </a>
        <a class="item item-avatar" ng-click="mesSeleccionado(3)">
          <img src="img/logo_colombia.png">
          <h2>MARZO</h2>
        </a>
        <a class="item item-avatar" ng-click="mesSeleccionado(4)">
          <img src="img/logo_colombia.png">
          <h2>ABRIL</h2>
        </a>
        <a class="item item-avatar" ng-click="mesSeleccionado(5)">
          <img src="img/logo_colombia.png">
          <h2>MAYO</h2>
        </a>
        <a class="item item-avatar" ng-click="mesSeleccionado(6)">
          <img src="img/logo_colombia.png">
          <h2>JUNIO</h2>
        </a>
        <a class="item item-avatar" ng-click="mesSeleccionado(7)">
          <img src="img/logo_colombia.png">
          <h2>JULIO</h2>
        </a>
        <a class="item item-avatar" ng-click="mesSeleccionado(8)">
          <img src="img/logo_colombia.png">
          <h2>AGOSTO</h2>
        </a>
        <a class="item item-avatar" ng-click="mesSeleccionado(9)">
          <img src="img/logo_colombia.png">
          <h2>SEPTIEMBRE</h2>
        </a>
        <a class="item item-avatar" ng-click="mesSeleccionado(10)">
          <img src="img/logo_colombia.png">
          <h2>OCTUBRE</h2>
        </a>
        <a class="item item-avatar" ng-click="mesSeleccionado(11)">
          <img src="img/logo_colombia.png">
          <h2>NOVIEMBRE</h2>
        </a>
        <a class="item item-avatar" ng-click="mesSeleccionado(12)">
          <img src="img/logo_colombia.png">
          <h2>DICIEMBRE</h2>
        </a>
    </div>
  </ion-content>
</ion-modal-view>
