<ion-modal-view>
  <ion-header-bar>
    <ion-header-bar class="bar-subheader item-input-inset padding-buscar-modal">
    <button class="button button-clear" ng-click="closeModalMenuBoletin()">
      Cerrar
    </button>

    </ion-header-bar>
   </ion-header-bar>
  <ion-content>
    <button class="button button-block button-balanced" ng-click="mostrarBoletin()">
      Descargar Boletín Agroclímatico
    </button>
    <button class="button button-block button-balanced" ng-click="mostrarRecomendaciones()">
      Ver Recomendaciones
    </button>
  </ion-content>
</ion-modal-view>
