<ion-modal-view>
  <ion-header-bar>
      <h1 class="title">Selecciona el cultivo</h1>
    </ion-header-bar>
  <ion-content>
    <div class="list">
        <a class="item item-avatar" ng-repeat="cultivos in selectCategorias " ng-click="seleccionadoCultivos(cultivos)">
          <h2>{{cultivos.CategoriaCultivo}}</h2>
        </a>
    </div>
  </ion-content>
</ion-modal-view>
