<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Boletín agroclim&aacute;tico</h1>
        <button class="button button-clear" ng-click="closeModalBoletin()">
          Cerrar
        </button>
    </ion-header-bar>
  <ion-content>
      <!-- <button class="button button-block button-balanced" ng-click="descargarBoletin()" >
        Descargar Boletín
      </button> -->
      <div class="row">
        <div class="col">
          <a class="item item-icon-left item-icon-right" ng-click="openModalMeses()">
            <i ></i>
            {{interfaz.seleccionadoFecha}}
            <i class="icon ion-arrow-right-c"></i>
          </a>
        </div>
        <div class="col">
          <a class="item item-icon-left item-icon-right" ng-click="openModalAnos()">
            <i ></i>
            {{interfaz.fechaActual}}
            <i class="icon ion-arrow-right-c"></i>
          </a>
        </div>
      </div>
      <center>Se descargará el boletin {{boletin.info}}</center>
      <a class="button button-block button-balanced" ng-click="descargarBoletin()" >
        Ver Boletín
      </a>
    </ion-content>
</ion-modal-view>
