<ion-modal-view>
  <ion-header-bar>
    <ion-header-bar class="bar-subheader item-input-inset padding-buscar-modal">
    <label class="item-input-wrapper">
      <i class="icon ion-ios7-search placeholder-icon"></i>
      <input type="search" placeholder="Digite la ciudad" ng-model="buscar">
    </label>
    <button class="button button-clear" ng-click="closeModal()">
      Cerrar
    </button>

    </ion-header-bar>
   </ion-header-bar>
  <ion-content>
	     <div class="card">
	  <div class="item item-text-wrap ">
	    <center><b>Los municipios registrados aqui se son suministrados por el IDEAM.[Por act.]</b></center>
	  </div>
	</div>	
    <div class="list">
        <a class="item item-avatar" ng-repeat="municipio in interfaz.municipios | filter:buscar" ng-click="seleccionado(municipio)">
          <img src="img/logo_colombia.png">
          <h2>{{municipio.nombre}}</h2>
          <p>Colombia</p>
        </a>
    </div>
  </ion-content>
</ion-modal-view>
