<div class="fontFrom">
	<ion-scroll>

	<div class="contentLoginImage" style="margin-top: 0px;">
		<div class="startImageLogin"></div>
	</div>

	<div class="headerDiv fontFrom"></div>

	<div ng-if="!login" class="padding">

		<div class="textLogin text-profile padding">
				No se encuentra registrado, por favor registrese
		</div>
		<br>

		<button menu-close
			class="button-balanced button button-block"
			ng-click="goTo(1)">Registrarse
		</button>
	</div>

	<div ng-if="login" class="padding">

		<div class="textLogin text-profile padding">
				Bienvenido
		</div>
		<br>

		<button menu-close
			class="button-balanced button button-block"
			ng-click="goTo(2)">Cambiar Clave
		</button>
		<button menu-close
			class="button-balanced button button-block"
			ng-click="goTo(3)">Perfil
		</button>
		<button menu-close
			class="button-balanced button button-block"
			ng-click="cerrarSession()">Cerrar Sesión
		</button>
	</div>

</ion-scroll>
</div>
