/* Empty. Add your own CSS if you like */



/* Fondos de letra*/

@font-face {
  font-family: 'noto_serifbold_italic';
  src: url("../fonts/notoserif-bolditalic-webfont.eot");
  src: url("../fonts/notoserif-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/notoserif-bolditalic-webfont.woff2") format("woff2"), url("../fonts/notoserif-bolditalic-webfont.woff") format("woff"), url("../fonts/notoserif-bolditalic-webfont.ttf") format("truetype"), url("../fonts/notoserif-bolditalic-webfont.svg#noto_serifbold_italic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'noto_serifbold';
  src: url("../fonts/notoserif-bold-webfont.eot");
  src: url("../fonts/notoserif-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/notoserif-bold-webfont.woff2") format("woff2"), url("../fonts/notoserif-bold-webfont.woff") format("woff"), url("../fonts/notoserif-bold-webfont.ttf") format("truetype"), url("../fonts/notoserif-bold-webfont.svg#noto_serifbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'noto_serifitalic';
  src: url("../fonts/notoserif-italic-webfont.eot");
  src: url("../fonts/notoserif-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/notoserif-italic-webfont.woff2") format("woff2"), url("../fonts/notoserif-italic-webfont.woff") format("woff"), url("../fonts/notoserif-italic-webfont.ttf") format("truetype"), url("../fonts/notoserif-italic-webfont.svg#noto_serifitalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'noto_serifregular';
  src: url("../fonts/notoserif-regular-webfont.eot");
  src: url("../fonts/notoserif-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/notoserif-regular-webfont.woff2") format("woff2"), url("../fonts/notoserif-regular-webfont.woff") format("woff"), url("../fonts/notoserif-regular-webfont.ttf") format("truetype"), url("../fonts/notoserif-regular-webfont.svg#noto_serifregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntubold';
  src: url("../fonts/ubuntu-bold-webfont.eot");
  src: url("../fonts/ubuntu-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-bold-webfont.woff2") format("woff2"), url("../fonts/ubuntu-bold-webfont.woff") format("woff"), url("../fonts/ubuntu-bold-webfont.ttf") format("truetype"), url("../fonts/ubuntu-bold-webfont.svg#ubuntubold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntumedium';
  src: url("../fonts/ubuntu-medium-webfont.eot");
  src: url("../fonts/ubuntu-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu-medium-webfont.woff") format("woff"), url("../fonts/ubuntu-medium-webfont.ttf") format("truetype"), url("../fonts/ubuntu-medium-webfont.svg#ubuntumedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntulight';
  src: url("../fonts/ubuntu-light-webfont.eot");
  src: url("../fonts/ubuntu-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu-light-webfont.woff") format("woff"), url("../fonts/ubuntu-light-webfont.ttf") format("truetype"), url("../fonts/ubuntu-light-webfont.svg#ubuntulight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-7iwtun");
  src: url("../fonts/icomoon.eot?-7iwtun#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?-7iwtun") format("truetype"), url("../fonts/icomoon.woff?-7iwtun") format("woff"), url("../fonts/icomoon.svg?-7iwtun#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

.ion-location{
  padding-left: 20px;
}

.reporte-clima .titulo{
  font-size: 15px;
  color: #57acef;
  font-family: "ubuntumedium" sans-serif;
}

.reporte-clima .sub-titulo{
  margin-top : 30px;
  font-size: 15px;
  color: #CCCCCC;
  font-family: "ubuntumedium" sans-serif;
}

.reporte-clima .temperatura{
  margin-top : 30px;
  font-size: 50px;
  color: #57acef;
  font-family: "ubuntumedium" sans-serif;
}

.reporte-clima .temperatura-media{
  margin-top : 30px;
  font-size: 30px;
  color: #f09e29;
  font-family: "ubuntumedium" sans-serif;
}

.reporte-clima .temperatura-maxima{
  margin-top : 30px;
  font-size: 30px;
  color: #6ab13e;
  font-family: "ubuntumedium" sans-serif;
}

/** Personalizados */
.text-white{
  color: #FFFFFF;
}

.text-temperatura{
  color: white;
  font-size: 70px;
  font-family: "ubuntumedium" sans-serif;
  padding-bottom: 30px;
  padding-top: 20px;
}

.content-clima-info{
  width: 100%;
  height: 245px;
  background-repeat: no-repeat;
  background-size: 100% ;
  background-color: transparent ;
}

.soleado{
  background-image: url("../img/soleado_512x512.png");
}

.lluvioso{
  background-image: url("../img/lluvioso_512x512.png");
}

.nublado{
  background-image: url("../img/nublado_512x512.png");
}

/** Titulo de las paginas */
.title{
  padding-top: 8px;
}

.content-logo-transparent{
  width: 100%;
  height: 80px;
  margin-top: 15px;
  padding-top: 12px;

}

.login-view{
  background-image: url("../img/bg_640x990.png");
  width: 100%;
  height: 100%;
}


/** Agronet */

.barCustomColor{
  background-color: #57acef ;
  color: white;
}

.bar .button.back-button{
  color: white;
}
.button-clear.button-clear-white{
  color: white;
}


.colorTramite{
  background-color: #5b9bfb;
}

.colorNotice{
  background-color: #ff8400;
}

.colorProgram{
  background-color: #6F4A89;
}





.backgroundProfileB {
	background-color: black;

}

.backgroundProfileW {
	background-color: white;
}

.buttonHeader{
	height: 50px;
}

.button.button-color-white {
  border-color: white;

}

.button.button-notice {
  background-color: #ff8400;
  border-color: #ff8400;
  color: white;
  height: 42px;
  padding: 0px 10px;
}
.button.button-notice:before{
  font-size: 15px;
}

.button.button-tramite {
  background-color: #5b9bfb;
  border-color: #5b9bfb;
  color: white;
  height: 42px;
  padding: 0px 10px;
}

.button.button-tramite:before{
  font-size: 15px;
}

.button.button-program {
  background-color: #6F4A89;
  border-color: #6F4A89;
  color: white;
  height: 42px;
  padding: 0px 10px;
}

.button.button-program:before{
  font-size: 15px;
}

.button.button-clean {
  background-color: transparent;
  border-color: transparent;
  height: 42px;
  padding: 0px 10px;
  padding-left: 20%;
}

.colorTramiteFont{
  color: #5b9bfb;
}

.colorNoticeFont{
  color: #ff8400;
}

.colorProgramFont{
  color: #6F4A89;
}
.colorAll {
  color: #57acef;
}

.button.button-program:before{
  font-size: 15px;
}




.lineScoll{
	height: 1px;
	width: 20%;

}

.lineScollSuggestion{
	height: 1px;
	width: 15%;
	background-color: #ccc;
}

.textTitle{
	padding: 10px 0px;
	font-size: 20px;
	text-align: justify;

}

.textBody{
	padding: 10px 0px;
	font-size: 12px;
	line-height: 15px;
	color : #616161;
}

.paddingContent{
	padding: 30px 30px;
}

.titleForm{
	padding:  0px 30px;
	color: #636363;

}

.borderForm{
	border-color: #57acef;
}

.cellMinButton {
	min-height: 20px;
}

a:link{
 text-decoration:none;
}

h4{
	color: green;
}

.fontFrom{
	background-color: #F5F5F5;
}

.headerFrom{
	height: 100px;

}
.imageProfile{
	width: 60px;
	height: 60px;
	border-radius: 30px;
}
.textImageProfile{
	color: #636363;
	margin-left: 25px;
	display: inline-block;
	margin-top: 20px;
}

.circleLabel{
  border-radius: 18px;
  font-size: 15px;
  height: 36px;
  width: 36px;
  padding: 7px;
  text-align: center;
  color: white;
}

.circleContent{
  margin: auto;
  width: 250px;

}
.circleLabelYes{
  background-color: white;
  border: 1px solid green;
  color: green;
  border-radius: 50px;
  font-size: 25px;
  height: 100px;
  width: 100px;
  padding: 30px;
  text-align: center;
}

.circleLabelNo{
  background-color: white;
  border: 1px solid red;
  color: red;
  border-radius: 50px;
  font-size: 25px;
  height: 100px;
  width: 100px;
  padding: 30px;
  text-align: center;
  margin-left: 20px;
}

.titleLabelCell{
  margin-left: 15px;
  margin-top: 8px;
  display: inline;
  font-size: 15px;


}

.select {
  font-size: 16px;
  position: relative;
  display: inline-block;
  width: 100%;

}
.select select {
  outline: none;
  -webkit-appearance: none;
  display: block;
  padding: 15px 0px 14px 16px;
  margin: 0;
  width: 100%;
  transition: border-color 0.2s;
  border: 1px solid green;
  border-radius: 0px;

  background: white;
  color: #ccc;
  line-height: normal;

}
.select .arr {
  background: #fff;
  bottom: 5px;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 100px;
  pointer-events: none;
}
.select .arr:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 24px;
  margin-top: -5px;
  pointer-events: none;
  border-top: 10px solid green;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.select .arr:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 28px;
  margin-top: -5px;
  pointer-events: none;
  border-top: 6px solid #fff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.auxPaddingButton{
  padding-top: 7px;
}
.auxMarginRow{
  margin: 0px ;
}

/* Estilos de profile*/

.headerDiv {
  width: 100%;
  height: 200px;

}

.footerDiv {
  width: 100%;
  height: 200px;

}

/* Favortios*/
.favorite{
  height: 49px;
  width: 100%;
}


.startFont{
  background-image: url("../img/bg_640x990.png");
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}
.startLogo{

  width: 100%;
  height: 60px;
  background-color: #ccc;
  font-size: 15px;
  position: absolute;

}
.startImage{

  width: 200px;
  height: 80px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../img/logo_clima.png");

}

.startImageLogin{
  width: 150px;
  height: 70px;
  margin-right: auto;
  margin-left: auto;

  background-repeat: no-repeat;
  background-size: 100% ;
  background-color: transparent ;
  background-image: url("../img/logo_clima.png");
}

.contentLoginImage{
  width: 100%;
  height: 80px;
  margin-top: 15px;
  background-color: #57acef;
  padding-top: 12px;

}

.startImageLoginResult{
  width: 100%;
  height: 200px;
}

.startText {
  margin-top: 10px;
  padding: 15px 30px;
  color: white;
  font-size: 15px;
  text-align: center;
  font-family: "ubuntulight" sans-serif;
}

.startTextJustify {
  margin-top: 10px;
  padding: 15px 20px 15px 20px;
  color: white;
  font-size: 15px;
  text-align: justify;
  font-family: "ubuntulight" sans-serif;
}
.text-dark-center {
  margin-top: 20px;
  padding: 15px 30px;
  color: black;
  font-size: 15px;
  text-align: center;
  font-family: "ubuntulight" sans-serif;
}

.text-two-dark-center {
  margin-top: 20px;
  color: black;
  font-size: 15px;
  text-align: center;
  font-family: "ubuntulight" sans-serif;
}

.clima-text {
  padding-top: 30px;
  color: white;
  font-size: small;
  text-align: center;
  font-family: "ubuntulight" sans-serif;
}

.clima-sub-text {

  color: white;
  font-size: small;
  font-weight: bold;
  text-align: center;
  font-family: "ubuntulight" sans-serif;
}

.startPaddingButton{

  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  margin-top: 40px;
  font-family: "Ubuntu", sans-serif;

}

.footerInit {
  position:absolute;
  bottom:0;
  width:100%;
  height:70px;   /* Height of the footer */
  background: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px
 }


.letterInit{

  margin-top: 5px;
  margin-bottom: auto;
  height: 30;
  font-size: 14px;
  font-weight: 200;
  float: left;
  font-family: "Ubuntu", sans-serif;
  color: #59595c;
  width: 55%;
}

.textLogin{
  font-size: 16px;
  text-align: center;
}

.textLoginMin{
  font-size: 14px;

}

.text-profile{
  color: #59595c;
}

.textColorLogin{
  color: #FFFFFF;
}




 .logoImage{
   float: left;
   width: 40%;
   height: 80%;
   margin-left: 15px;
   background-size: 100% 90%;
   background-image: url("../img/logo_min.png");
   background-repeat: no-repeat;
}



.iconConecta{
  z-index: 999999;
  display:inline-block;
  width: 140px;
  height: 75%;
  position: absolute;
  content: "";
  background-image: url("../img/icon_clima.png");
  background-repeat: no-repeat;
  background-size: 70%;
  margin-top: 9px;

}


.marginAuxTab{
  margin-top: 15px;
}

.auxHeigth{
  height: 60px;
  padding-top: 10px;
}


textarea{
  height: 170px;
  max-height: 170px;
}


.passwordView{
  height: 50px;
  margin-top: -1px;
  margin-bottom: -1px;
  max-height: 51px;
}
.passwordCreate{
  padding-left: 10px;
  padding-right: 0px;
}
.lineResult{
  width: 100%;
  height: 2px;
  background-color: #57acef;
}

.heigthNill{
  height: 0;
}

.styleSugesstion{
  font-size: 16px;
  padding: 0px 20px;
  text-align: center;
}

/** Plan de riego */
.plan-riego-titulo-uno{
  color: #57acef;
  font-weight: bold;
}

.item-divider{
  background-color: #e2e2e2;
}
/** Acordion planes de riego**/
/*
 * http://docs.angularjs.org/api/ng/directive/ngShow#usage_animations
 */
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
.padding-buscar{
	padding-top: 41px;
    padding-bottom: 23px;
}
.padding-buscar-modal{
  margin-top: -45px;
}

/**
 * Funcionalidad de slide
 **/
.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 80px;
  color: #000;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

#logo {
  margin: 30px 0px;
}

#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}
#list ol {
  margin-top: 30px;
}
#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}

.button.ng-hide{
  display:none;
}
 .footerInitTerminos{
  position:absolute;
  bottom:0;
  width:100%;
  height:10%;   /* Height of the footer */
  background: white;
  vertical-align: middle;
 }
 .footerInitTerminosLeft{
  width:25%;
  height:100%;   /* Height of the footer */
  float: left;
  text-align: center;  
}
    .footerInitTerminosLeft:before
    {
        content: '';
        width: 100%;
        display: inline-block;
  
    }
.footerInitTerminosLeftImg{

    margin-top:-110%;
    height: 90%; 
 
}
.footerInitTerminosCenter{
  float: left;
  width:25%;
  height:100%;;   /* Height of the footer */
  text-align: center;
}
  .footerInitTerminosCenter:before
    {
        content: '';
        width: 100%;
        display: inline-block;
    }
.footerInitTerminosCenterImg{

      height:100%;
      margin-top:-100%;
}
.footerInitTerminosRight{
  float: left;
  width:25%;
  height:100%;   /* Height of the footer */
  text-align: center;
 }
 .footerInitTerminosRight:before
    {
        content: '';
        width: 100%;
        display: inline-block;
    }
.footerInitTerminosRightImg{
       height:100%;
      margin-top:-100%;
}
.footerInitTerminosRight2{
  float: left;
  width:25%;
  height:100%;   /* Height of the footer */
  text-align: center;
 }
 .footerInitTerminosRight2:before
    {
        content: '';
        width: 100%;
        display: inline-block;
    }
.footerInitTerminosRightImg2{
       height:100%;
      margin-top:-100%;
}


 .footerInitTerminosCenter{

  float: left;
  width:33%;
  /*height:100%;;   /* Height of the footer */
  vertical-align: middle;
 }
.footerInitTerminosRight{
  float: right;
  bottom:0;
  width:33%;
 /* height:100%;   /* Height of the footer */
 }

.barCustomColorTerminos{
  background-color: transparent; ;
  color: white;
}
.startTextTerminos {
  margin-top: 20px;
  padding: 15px 30px;
  color: white;
  font-size: 15px;
  text-align: center;
  font-family: "ubuntulight" sans-serif;
}


@media screen and (orientation:landscape) {
  #container {
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    width: /* screen width */ ;
    height: /* screen height */ ;
    overflow: scroll;
  }
}
.ajuste-cabecera{
	    margin-top: -47px;
}
.margen{
      margin-top: -92px;
}

.Rotate-90
{
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: -20% 66%;
  font-size: 25px;
  background: rgba(224, 224, 224, 0);
  width: 100px;
  position: relative;
  top: 100px;
}
